body {
    text-align: center;
    background-color:steelblue ;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 35%;
    height: 3vh;
    border-radius: 5px;
}

button {
    width: 35%;
    background-color: rgb(108, 199, 199);
    border-radius: 25px;
}

button:hover {
    background-color: rgb(84, 153, 153);
}

.section {
    border-radius: 15px;
    border-style: groove;
    background-color: lightskyblue;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section:hover {
    background-color: rgb(114, 170, 206);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: white;
}

h3 {
    font-family:'Courier New', Courier, monospace;
    color: white;
}

label {
    font-family:'Courier New', Courier, monospace;
    color: white;
}
